@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');


$font-stack: Overpass, sans-serif;
$blue-dark: #05386B;
$green-blue: #379683;
$green-bright: #5CDB95;
$green-light: #8EE4AF;
$white: #f5f5f5;
$green-neon: #5aff15;
$blue: rgb(1, 125, 125);
$red: rgb(248, 31, 31);
$grey: #cac7c7;
$blue-light: rgb(85, 209, 182);