// All the code for the details in the main container
.todos {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  border-radius: 4px;
  background-color: $green-blue;
  background-image: linear-gradient(315deg, $green-blue 0%, $green-neon 74%);
  margin-bottom: 0.5rem;
  transition: all 0.5s;
  &-done{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    border-radius: 4px;
    background-color: $green-blue;
    background-image: linear-gradient(315deg, $green-blue 0%, $green-neon 74%);
    margin-bottom: 0.5rem;
    opacity: 0.65;
  }
  &:hover{
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    background-image: linear-gradient(315deg, $green-blue 0%, $green-neon 40%);
    transform: scale(1.01);
  }
  &-text {
    margin-right: auto;
    font-size: 1.4rem;
    &-done{
      text-decoration:line-through;
      margin-right: auto;
      font-size: 1.4rem;
    }
  }

  // Checkmark when todo is done
  &-input{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.5rem;
  }


  &-date{
    margin-right: 2rem;
    font-size: 1rem;
    &-done{
      text-decoration:line-through;
      margin-right: 2rem;
      font-size: 1rem;
    }
  }



  // The buttons on the main todo
  &-edit{
    margin-right: 2rem;
    height: 2.5rem;
    width: 4rem;
    font-size: 1rem;
    &:hover{
      box-shadow: inset 5rem 0 0 0 $blue-light;
    }
  }
  &-delete{
    height: 2.5rem;
    width: 4rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
      box-shadow: inset 5rem 0 0 0 red;
    }
    
  }
}
